<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/home.css" />
    <title>Thoughts</title>
  </head>
  <body>
    <div class="container">
      <img src="<%= user.picture %>" alt="profile pic" />
      <p>Welcome, <%= user.name %></p>
      <h1>What's on your mind?</h1>
      <form action="/submit" method="post">
        <textarea
          placeholder="Share your thoughts"
          name="thought"
          id=""
          cols="30"
          rows="10"
        ></textarea>
        <div class="submit-box">
          <div class="switch">
            <input
              value="true"
              name="isPrivate"
              id="checkbox1"
              class="look"
              type="checkbox"
            />
            <label for="checkbox1"></label>
            <p>Private</p>
          </div>
          <button id="submit" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <p id="title">Your Messages!</p>
    <p>Public Messages!</p>
    <div class="thoughts">
      <% user.messages.forEach(function(object){ %>
      <div class="messages">
        <div class="header">
          <img src="<%= user.picture %>" alt="message" />
          <p><%= object.formattedDate %></p>
        </div>
        <p class="message"><%= object.message %></p>
      </div>
      <% }); %>
    </div>
    <p>Private Messages!</p>
    <div class="thoughts">
      <% user.privateMessages.forEach(function(object){ %>
      <div class="messages">
        <div class="header">
          <img src="<%= user.picture %>" alt="message" />
          <p><%= object.formattedDate %></p>
        </div>
        <p class="message"><%= object.message %></p>
      </div>
      <% }); %>
    </div>
  </body>
</html>
