<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/secrets.css" />
    <title>Secrets</title>
  </head>
  <body>
    <h1>Public <span id="title">Messages</span></h1>
    <div class="messages">
      <% users = users.reverse() %> <% users.forEach(function(messageObject){ %>
      <% messages = messageObject.messages.reverse() %> <%
      messages.forEach(function(object){%>
      <div class="message">
        <div class="header">
          <img src="<%= messageObject.picture %>" alt="profile pic" />
          <div class="user-section">
            <p><%= messageObject.name %></p>
            <p><%= object.formattedDate %></p>
          </div>
        </div>
        <p>
          <span id="message-user"><%= users.name %><br /></span><%=
          object.message %>
        </p>
      </div>
      <% }) %> <% }); %>
    </div>
  </body>
</html>
